<div class="button-group" role="radiogroup" [attr.aria-labelledby]="id">

  <label [attr.id]="id" class="label">{{label}}</label>

  <button class="button button-yes" type="button" (click)="activate(options.YES)"
    [class.button-pressed]="value === options.YES"

    role="radio" [attr.aria-checked]="value === options.YES">Yes</button>

  <button class="button button-no" type="button" (click)="activate(options.NO)"
    [class.button-pressed]="value === options.NO"

    role="radio" [attr.aria-checked]="value === options.NO">No</button>
</div>
